@media (min-width: 1024px) {

}

@media (min-width: 740px) and (max-width: 1024px) {

}

@media (max-width: 740px) {
    #nav > li {
        display: block;
    }

    #header {
        overflow: hidden;
        /* height: auto; */

    }

    #nav {
        display: block;
    }

    #header .search-btn {
        display: none;
    }

    #header .menu-btn {
        display: block;
    }

    #slider .text-content {
        display: none;
    }

    .content-section .member-list {
        flex-direction: column;
    }

    .tour-section .places-list {
        flex-direction: column;
    }

    .place-item + .place-item {
        margin-left: 0;
        margin-top: 16px;
    }

    .contact-body {
        flex-direction: column;
    }

    .contact-sending {
        margin-top: 16px;
    }

    .contact-sending .row-message {
        margin-top: 10px;
    }

    .contact-sending input + input {
        margin-left: 0;
        margin-bottom: 0;
    }

    .contact-sending input {
        width: 100%;
    }
}